<div class="esh-header">
    <div class="container">
        @foreach (var header in Model)
        {
            <a class="esh-header-back mr-1" href="@header.Url">@header.Text</a>
        }
    </div>
</div>
