<div class="esh-identity">
    <AuthorizeView>
        <NotAuthorized>

            <section class="esh-identity-section">
                <div class="esh-identity-item">
                    <a class="esh-identity-name esh-identity-name--upper" href="authentication/login">Login</a>
                </div>
            </section>

        </NotAuthorized>
        <Authorized>

            <section class="esh-identity-section">
                <div class="esh-identity-name">@context.User.GetPreferredUsername()</div>
                <img class="esh-identity-image" src="assets/images/arrow-down.png">
            </section>

            <section class="esh-identity-drop">
                <div class="esh-identity-item">
                    <a class="esh-identity-name esh-identity-name--upper" href="/orders">My orders</a>
                    <img class="esh-identity-image" src="assets/images/my_orders.png">
                </div>
                @*<div class="esh-identity-item">
                    <a class="esh-identity-name esh-identity-name--upper" href="/campaigns">Campaigns</a>
                    <img class="esh-identity-image" src="assets/images/my_orders.png">
                </div>*@
                <div class="esh-identity-item">
                    <div class="esh-identity-name esh-identity-name--upper" @onclick="BeginSignOut">Log Out</div>
                    <img class="esh-identity-image" src="assets/images/logout.png">
                </div>
            </section>

        </Authorized>
    </AuthorizeView>
</div>
