@inherits LayoutComponentBase
@inject NavigationManager Navigation

<header class="esh-app-header">
    <div class="container">
        <article class="row">

            <section class="col-lg-7 col-md-6 col-12">
                <a class="esh-navbar-brand" href="@Navigation.BaseUri">
                    <img src="assets/images/brand.png" />
                </a>
            </section>

            <section class="col-lg-4 col-md-5 col-12">
                <LoginDisplay />
            </section>

            <section class="col-lg-1 col-12">
                <AuthorizeView>
                    <Authorized>
                        <BasketStatus />
                    </Authorized>
                </AuthorizeView>
            </section>

        </article>
    </div>
</header>

@Body

<footer class="esh-app-footer">
    <div class="container">
        <article class="row">

            <section class="col-sm-6">
                <img class="esh-app-footer-brand" src="assets/images/brand_dark.png" />
            </section>

            <section class="col-sm-6">
                <img class="esh-app-footer-text hidden" src="assets/images/main_footer_text.png" width="335" height="26" alt="footer text image" />
            </section>

        </article>
    </div>
</footer>
