<div class="esh-pager">
    <div class="container">
        <article class="esh-pager-wrapper row">
            <nav>
                <span class="esh-pager-item esh-pager-item--navigable @(previousDisabled ? "is-disabled" : "")"
                      id="Previous"
                      @onclick="OnPreviousClicked"
                      aria-label="Previous">
                    Previous
                </span>

                <span class="esh-pager-item">
                    Showing @Model?.Items of @Model?.TotalItems products - Page @(Model?.ActualPage + 1) - @Model?.TotalPages
                </span>

                <span class="esh-pager-item esh-pager-item--navigable @(nextDisabled ? "is-disabled" : "")"
                      id="Next"
                      @onclick="OnNextClicked"
                      aria-label="Next">
                    Next
                </span>
            </nav>
        </article>
    </div>
</div>
